{% extends 'base.html' %}

{% block title %}Welcome to my page{% endblock %}

{% block content %}
<main class="container">
    <h1>Jack Starr</h1>
    <p>
        This is my about page. I am a student in BAIS:3300 Digital Product Management, learning how to build web apps with Flask, Jinja, and Bootstrap.
    </p>
    <p>
        Outside of school, I enjoy staying active and spending time with friends. I love golfing, going to sporting events, and traveling whenever I get the chance. Some of my favorite places I have visited so far are London, Hawaii, and Mexico. I’m also a big dog person and I enjoy music and movies in my downtime. These are the things that help me relax and enjoy life outside of academics and work.
    </p>
</main>
{% endblock %}
